<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>

<body class="bg-white font-family-karla h-screen">
    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <div class="flex justify-center md:justify-start">
                    <a href="/home" class="bg-black text-white font-bold text-xl p-4">RestKeeper</a>
                </div>
                <div class="flex items-center lg:order-2">
                    <a href="/profile/{{currentId}}"
                        class="block font-bold py-2 pr-4 pl-3 text-sky-300 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">
                        My profile</a>
                        <button (click)="logout()"
                        class="block font-bold py-2 ml-16 pr-4 pl-3 text-vlack border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">
                        Log Out</button>
                </div>
                <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        <li>
                            <a href="/home"
                                class="block font-bold py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0"
                                aria-current="page">
                                Home</a>
                        </li>
                        <li *ngIf="role=='ROLE_ADMIN'">
                            <a href="/employees"
                                class="block font-bold py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">
                                Employees</a>
                        </li>
                        <li>
                            <a href="/orders"
                                class="block font-bold py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">
                                Orders</a>
                        </li>
                        <li>
                            <a href="/dishes"
                                class="block font-bold py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">
                                Dishes</a>
                        </li>
                        <li *ngIf="role=='ROLE_ADMIN'">
                            <a href="/statistics"
                                class="block font-bold py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0">
                                Statistics</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="w-full flex flex-wrap">
        <div class="w-full h-48 shadow-2xl">
            <img class="object-cover w-full h-48 hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
        </div>
        <div class="w-full flex flex-col">
            <p class="bg-black text-center text-white font-bold text-xl p-4">Statistics</p>
        </div>
        <div class="w-full flex flex-col">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-black dark:text-white">Report</h2>
                    <p class="font-light text-gray-500  sm:text-xl dark:text-gray-400">
                        Here you can see the table with the information about this working day. To download this report you can use the botton below</p>
                </div>
            </div>
            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <table class="table-fixes border-collapse border border-slate-500">
                    <thead>
                        <tr>
                            <th class="border border-slate-600">Daily revenue</th>
                            <th class="border border-slate-600">Monthly revenue</th>
                            <th class="border border-slate-600">Average bill</th>
                            <th class="border border-slate-600">Daily amount of guests</th>
                            <th class="border border-slate-600">Amount of guests in the morning</th>
                            <th class="border border-slate-600">Amount of guests in the evening</th>
                            <th class="border border-slate-600">The most popular dish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-slate-600 p-2 text-center">{{statistics.dailyRevenue}}</td>
                            <td class="border border-slate-600 p-2 text-center">{{statistics.monthlyRevenue}}</td>
                            <td class="border border-slate-600 p-2 text-center">{{statistics.averageBill}}</td>
                            <td class="border border-slate-600 p-2 text-center">{{statistics.dailyAmountOfGuests}}</td>
                            <td class="border border-slate-600 p-2 text-center">{{statistics.firstHalfAmountOfGuests}}
                            </td>
                            <td class="border border-slate-600 p-2 text-center">{{statistics.lastHalfAmountOfGuests}}
                            </td>
                            <td class="border border-slate-600 p-2 text-center">{{statistics.dailyDish.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex flex-wrap">
                    <a href="http://localhost:8080/restkeeper/v1/statistics/download" class="text-center bg-black text-white w-40 font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                        Download report</a>
                </div>
            </div>
        </div>
    </div>
</body>